<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form asp-action="incluir" method="post">

        <label>Título:</label>
        <input name="titulo" />
        <br />

        <label>Categoria:</label>
        <input name="categoria" />
        <br />

        <button>Gravar</button>
    </form>
</body>
</html>